<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wlgzs.hospitalmanage.dao.CheckMapper">
  <resultMap id="BaseResultMap" type="org.wlgzs.hospitalmanage.entity.Check">
    <id column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="pinyin_code" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="check_price" jdbcType="DECIMAL" property="checkPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    check_id, check_name, pinyin_code, check_price
  </sql>
  <select id="selectByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample">
    delete from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check (check_id, check_name, pinyin_code, 
      check_price)
    values (#{checkId,jdbcType=INTEGER}, #{checkName,jdbcType=VARCHAR}, #{pinyinCode,jdbcType=VARCHAR}, 
      #{checkPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        check_id,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="pinyinCode != null">
        pinyin_code,
      </if>
      <if test="checkPrice != null">
        check_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        #{checkPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultType="java.lang.Long">
    select count(*) from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_check
    <set>
      <if test="record.checkId != null">
        check_id = #{record.checkId,jdbcType=INTEGER},
      </if>
      <if test="record.checkName != null">
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyinCode != null">
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPrice != null">
        check_price = #{record.checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_check
    set check_id = #{record.checkId,jdbcType=INTEGER},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      check_price = #{record.checkPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        check_price = #{checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    set check_name = #{checkName,jdbcType=VARCHAR},
      pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      check_price = #{checkPrice,jdbcType=DECIMAL}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.wlgzs.hospitalmanage.entity.Check">
    <id column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="pinyin_code" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="check_price" jdbcType="DECIMAL" property="checkPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    check_id, check_name, pinyin_code, check_price
  </sql>
  <select id="selectByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample">
    delete from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check (check_id, check_name, pinyin_code, 
      check_price)
    values (#{checkId,jdbcType=INTEGER}, #{checkName,jdbcType=VARCHAR}, #{pinyinCode,jdbcType=VARCHAR}, 
      #{checkPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        check_id,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="pinyinCode != null">
        pinyin_code,
      </if>
      <if test="checkPrice != null">
        check_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        #{checkPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultType="java.lang.Long">
    select count(*) from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_check
    <set>
      <if test="record.checkId != null">
        check_id = #{record.checkId,jdbcType=INTEGER},
      </if>
      <if test="record.checkName != null">
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyinCode != null">
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPrice != null">
        check_price = #{record.checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_check
    set check_id = #{record.checkId,jdbcType=INTEGER},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      check_price = #{record.checkPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        check_price = #{checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    set check_name = #{checkName,jdbcType=VARCHAR},
      pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      check_price = #{checkPrice,jdbcType=DECIMAL}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.wlgzs.hospitalmanage.entity.Check">
    <id column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="pinyin_code" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="check_price" jdbcType="DECIMAL" property="checkPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    check_id, check_name, pinyin_code, check_price
  </sql>
  <select id="selectByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample">
    delete from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check (check_id, check_name, pinyin_code, 
      check_price)
    values (#{checkId,jdbcType=INTEGER}, #{checkName,jdbcType=VARCHAR}, #{pinyinCode,jdbcType=VARCHAR}, 
      #{checkPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        check_id,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="pinyinCode != null">
        pinyin_code,
      </if>
      <if test="checkPrice != null">
        check_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        #{checkPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultType="java.lang.Long">
    select count(*) from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_check
    <set>
      <if test="record.checkId != null">
        check_id = #{record.checkId,jdbcType=INTEGER},
      </if>
      <if test="record.checkName != null">
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyinCode != null">
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPrice != null">
        check_price = #{record.checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_check
    set check_id = #{record.checkId,jdbcType=INTEGER},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      check_price = #{record.checkPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        check_price = #{checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    set check_name = #{checkName,jdbcType=VARCHAR},
      pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      check_price = #{checkPrice,jdbcType=DECIMAL}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.wlgzs.hospitalmanage.entity.Check">
    <id column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="pinyin_code" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="check_price" jdbcType="DECIMAL" property="checkPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    check_id, check_name, pinyin_code, check_price
  </sql>
  <select id="selectByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample">
    delete from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check (check_id, check_name, pinyin_code, 
      check_price)
    values (#{checkId,jdbcType=INTEGER}, #{checkName,jdbcType=VARCHAR}, #{pinyinCode,jdbcType=VARCHAR}, 
      #{checkPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        check_id,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="pinyinCode != null">
        pinyin_code,
      </if>
      <if test="checkPrice != null">
        check_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        #{checkPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultType="java.lang.Long">
    select count(*) from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_check
    <set>
      <if test="record.checkId != null">
        check_id = #{record.checkId,jdbcType=INTEGER},
      </if>
      <if test="record.checkName != null">
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyinCode != null">
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPrice != null">
        check_price = #{record.checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_check
    set check_id = #{record.checkId,jdbcType=INTEGER},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      check_price = #{record.checkPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        check_price = #{checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    set check_name = #{checkName,jdbcType=VARCHAR},
      pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      check_price = #{checkPrice,jdbcType=DECIMAL}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.wlgzs.hospitalmanage.entity.Check">
    <id column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="pinyin_code" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="check_price" jdbcType="DECIMAL" property="checkPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    check_id, check_name, pinyin_code, check_price
  </sql>
  <select id="selectByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_check
    where check_id = #{checkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample">
    delete from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check (check_id, check_name, pinyin_code, 
      check_price)
    values (#{checkId,jdbcType=INTEGER}, #{checkName,jdbcType=VARCHAR}, #{pinyinCode,jdbcType=VARCHAR}, 
      #{checkPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    insert into tb_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        check_id,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="pinyinCode != null">
        pinyin_code,
      </if>
      <if test="checkPrice != null">
        check_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkId != null">
        #{checkId,jdbcType=INTEGER},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        #{checkPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlgzs.hospitalmanage.entity.CheckExample" resultType="java.lang.Long">
    select count(*) from tb_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_check
    <set>
      <if test="record.checkId != null">
        check_id = #{record.checkId,jdbcType=INTEGER},
      </if>
      <if test="record.checkName != null">
        check_name = #{record.checkName,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyinCode != null">
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPrice != null">
        check_price = #{record.checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_check
    set check_id = #{record.checkId,jdbcType=INTEGER},
      check_name = #{record.checkName,jdbcType=VARCHAR},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      check_price = #{record.checkPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    <set>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="pinyinCode != null">
        pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      </if>
      <if test="checkPrice != null">
        check_price = #{checkPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlgzs.hospitalmanage.entity.Check">
    update tb_check
    set check_name = #{checkName,jdbcType=VARCHAR},
      pinyin_code = #{pinyinCode,jdbcType=VARCHAR},
      check_price = #{checkPrice,jdbcType=DECIMAL}
    where check_id = #{checkId,jdbcType=INTEGER}
  </update>
</mapper>