*{
	margin: 0;
	padding: 0;
	font-family: "宋体";
	font-weight: 600;
}
body {
	width: 100%;
    margin: 0;
    height: 100%;
    color: #D5D6E2;
    background-color: #fff;
    overflow-y: hidden;
	overflow-x:scroll;
	min-width: 1200px
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a:hover{
	text-decoration: none;
}
li{
    list-style-type: none;
}
input,button{
	border: none;
	outline: none;
}
header{
    overflow: hidden;
    height: 64px;
    line-height: 70px;
    padding: 0 12px;
    white-space: nowrap; 
    color: #000;
    box-shadow: 2px 2px 7px #95B8E7;
    background-color: #E0EDFF;
}
.top_img{
	position: absolute;
	top: 0;
	left: 40px;
	height: 64px;
	display: inline-block;
}
.top_img img{
	height: 100%;
}
header h2 b{
	margin-left: 166px;
	text-align: center;
	text-shadow: 2px 2px 7px #FFFFCC;	
}
header span{
	float: right;
}
header span b{
	display: inline-block;
	margin: 0 8px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
}
header span b a{
	color: #6aa3ef;
}
/*侧边栏*/
.main-sidebar{
	position: absolute;
    left: 0;
    height: 93%;
    min-height: 93%;
    width: 166px;
    z-index: 810;
    font-size: 20px;
   background-color: #E0EDFF;
}
/*选中状态*/
.active_li{
	color: #fff;
    background-color: #fff;
    border-left: 5px solid;
}
.act_li{
	color: #6AA3EF;
    border-bottom: 2px solid;
}
/*iframe*/
.wrapper{
    margin-left: 164px;
	overflow-x:scroll;
}
.wrapper iframe{
	height: 720px;
	width:100%;
	overflow-y:hidden;
	overflow-x:scroll;
	min-width: 100%;
}
.aa{
	color: #6AA3EF !important;
	border-bottom: 2px solid #6AA3EF !important;
    background: #fff;
}