<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
		<link rel="stylesheet" th:href="@{/css/prescription.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>处方管理 > <b style="color: #F00;">添加处方</b></span>
					<button class="label-info modify_add">
						<b>
							<a href="javascript:history.go(-1)">
								<i class="fa fa-mail-reply"></i>
							</a>
						</b>
					</button>
				</div>
			</div>
			<div style="width: 100%; height: 45px;"></div>
			
			<div class="pre_inform">
				<!--处方信息-->
				<div id="pre_inform">
					<p>处方信息</p>
						<b>PS：信息填写完整方可进行下一步</b>
						<div style="height: 32px; width: 100%"></div>
						<div class="item_label">
							<label>处方名称</label>
							<input type="text" name="prescription_name" class="pre_name" value="" placeholder="处方名称" required="required" autoComplete="off"/>
						</div>
						<div class="item_label">
							<label>拼音码</label>
							<input type="text" name="pinyin_code" class="pre_pinyin" value="" placeholder="拼音码" required="required"	`/>
						</div>
						<div style="height: 32px;"></div>
						<div class="add_pre">
							<button type="submit">下一步</button>
						</div>
				</div>
			</div>
			<div class="cure"></div>
		</section>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/pre.js}"></script>
</html>
