<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/prescription.css}" />
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>药品管理> <b style="color: #F00;">药品信息</b></span>
					<button class="label-info modify_add">
						<b>
							<a th:href="@{/drug/drug/1}">
								<i class="fa fa-mail-reply"></i>
							</a>
						</b>
					</button>
				</div>
			</div>
			<div style="width: 100%; height: 45px;"></div>
			
			<div class="pre_inform">
				<!--药品信息-->
				<p>药品信息</p>
				<!--<form th:action="@{/drug/drug}" method="post">-->
					<div class="item_label">
						<label for="">药品名称</label>
						<input type="text" name="drug_name"  placeholder="药品名称" required="required" class="drug_name"/>
					</div>
					<div class="item_label">
						<label for="">类别</label>
						<!--<input type="text" name="drug_category"   placeholder="类别" required="required">-->
						<select name="drug_category" id="attribute_number" class="drug_category">
							<option value="">请选择供</option>
							<option  th:each="drugTypes : ${drugType}" th:value="${drugTypes.attribute_number}" th:text="${drugTypes.attribute_name}"></option>
						</select>
					</div>
					<div class="item_label">
						<label for="">拼音码</label>
						<input type="text" name="pinyin_code" class="pinyin_code"  placeholder="拼音码" required="required"/>
					</div>
					<div class="item_label">
						<label for="">规格含量</label>
						<input type="text" name="specification_content" class="specification_content" placeholder="规格含量" required="required"/>
					</div>
					<div class="item_label">
						<label for="">单位</label>
						<!--<input type="text" name="drug_unit"  placeholder="单位" required="required"/>-->
						<select name="drug_unit" class="drug_unit">
							<option value="">请选择供</option>
							<option th:each="drugUnits : ${drugUnit}" th:value="${drugUnits.attribute_number}" th:text="${drugUnits.attribute_name}"></option>
						</select>
					</div>
					<div class="item_label">
						<label for="">剂型</label>
						<!--<input type="text" name="dosage_form"  placeholder="剂型" required="required"/>-->
						<select name="dosage_form" class="dosage_form" >
							<option value="">请选择供</option>
							<option th:each="dosageForms : ${dosageForm}" th:value="${dosageForms.attribute_number}" th:text="${dosageForms.attribute_name}"></option>
						</select>
					</div>
					<div class="item_label">
						<label for="">厂家</label>
						<input type="text" name="manufacturer" class="manufacturer" placeholder="厂家" required="required"/>
					</div>
					<div class="item_label">
						<label for="">批准文号</label>
						<input type="text" name="approval_number" class="approval_number" placeholder="批准文号" required="required"/>
					</div>
					<div class="item_label">
						<label for="">安全存库</label>
						<input type="text" name="safety_stock" class="safety_stock" placeholder="安全存库" required="required"/>
					</div>
					<div class="item_label">
						<label for="">单位价格</label>
						<input type="text" name="unit_price" class="unit_price" placeholder="单位价格" required="required"/>
					</div>
					<div class="item_label">
						<label for="">医保编码</label>
						<input type="text" name="healthcare_code" class="healthcare_code"  placeholder="医保编码" required="required"/>
					</div>
					<div class="item_label">
						<label for="">医保名称</label>
						<input type="text" name="healthcare_name" class="healthcare_name" placeholder="医保名称" required="required"/>
					</div>
					<div style="height: 32px;"></div>
					<div style="overflow: hidden;">
						<button type="" class="btn_add">添加</button>
					</div>
				<!--</form>-->
			</div>
		</section>
<div class="cure"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
	<script th:src="@{/js/drug1.js}"></script>
</html>
