<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/prescription.css" />
		<link rel="stylesheet" href="css/popup.css" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>药品管理> <b style="color: #F00;">药品信息</b></span>
					<button class="label-info modify_add">
						<b>
							<a href="drug.html">
								<i class="fa fa-mail-reply"></i>
							</a>
						</b>
					</button>
				</div>
			</div>
			<div style="width: 100%; height: 45px;"></div>
			
			<div class="pre_inform">
				<!--药品信息-->
				<p>药品信息</p>
				<form action="" method="">
					<div class="item_label">
						<label for="">药品名称</label>
						<input type="text" name="" id="" value="" placeholder="药品名称" required="required"/>
					</div>
					<div class="item_label">
						<label for="">类别</label>
						<input type="text" name="" id="" value="" placeholder="类别" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">拼音码</label>
						<input type="text" name="" id="" value="" placeholder="拼音码" required="required"/>
					</div>
					<div class="item_label">
						<label for="">规格含量</label>
						<input type="text" name="" id="" value="" placeholder="规格含量" required="required"/>
					</div>
					<div class="item_label">
						<label for="">单位</label>
						<input type="text" name="" id="" value="" placeholder="单位" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">剂型</label>
						<input type="text" name="" id="" value="" placeholder="剂型" required="required"/>
					</div>
					<div class="item_label">
						<label for="">厂家</label>
						<input type="text" name="" id="" value="" placeholder="厂家" required="required"/>
					</div>
					<div class="item_label">
						<label for="">批准文号</label>
						<input type="text" name="" id="" value="" placeholder="批准文号" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">安全存库</label>
						<input type="text" name="" id="" value="" placeholder="安全存库" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">单位价格</label>
						<input type="text" name="" id="" value="" placeholder="单位价格" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">医保编码</label>
						<input type="text" name="" id="" value="" placeholder="医保编码" required="required"	`/>
					</div>
					<div class="item_label">
						<label for="">医保名称</label>
						<input type="text" name="" id="" value="" placeholder="医保名称" required="required"	`/>
					</div>
					<div style="height: 32px;"></div>
					<div style="overflow: hidden;">
						<button type="submit">添加</button>
					</div>
				</form>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js" ></script>
</html>
