<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/prescription.css}" />
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/jeDate-test.css}">
		<link type="text/css" rel="stylesheet" th:href="@{/css/jedate.css}">
		<script type="text/javascript" th:src="@{/js/jedate.js}"></script>
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span><b>添加就诊记录</b></span>
				</div>
			</div>
			<div style="width: 100%; height: 45px;"></div>

			<div class="add_infor" style="position: absolute; top: 15%;">
				<h3 style="font-size: 18px;">添加就诊记录</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>患者名称</th>
								<td>
									<span th:if="${session.patient==null}">
										<button>
											<a th:href="@{/patient/patient/1}">选择</a>
										</button>
									</span>
									<span th:if="${session.patient!=null}">
										<input type="text" th:value="${session.patient.patient_name}" class="patient_name">
										<input type="hidden" th:value="${session.patient.patient_number}" class="patient_number"/>
										<button style="float: right;">
											<a th:href="@{/patient/patient/1}">修改</a>
										</button>
									</span>
								</td>
							</tr>
							<tr>
								<th>疾病名称</th>
								<td>
									<span th:if="${session.disease==null}">
										<button>
											<a th:href="@{/disease/1}">选择</a>
										</button>
									</span>
									<span th:if="${session.disease!=null}">
										<input type="text" th:value="${session.disease.disease_name}" class="disease_name" name="disease_name">
										<input type="hidden" th:value="${session.disease.disease_id}" class="disease_id" name="disease_id"/>
										<button style="float: right;">
											<a th:href="@{/disease/1}">修改</a>
										</button>
									</span>
								</td>
							</tr>
							<tr>
								<th>处方编号</th>
								<td>
									<span th:if="${session.prescription==null}">
										<button>
											<a th:href="@{/prescription/1}">选择</a>
										</button>
									</span>
									<span th:if="${session.prescription!=null}">
										<input type="text" th:value="${session.prescription.prescription_name}" class="prescription_name" name="prescription_name">
										<input type="hidden" th:value="${session.prescription.prescription_id}" class="prescription_id" name="prescription_name"/>
										<button style="float: right;">
											<a th:href="@{/prescription/1}">修改</a>
										</button>
									</span>
								</td>
							</tr>
							<tr>
								<th>收费</th>
								<td>
									<input type="text" name="price_end" class="price_end"  required="required"/>
								</td>
							</tr>
							<tr>
								<th>就诊日期</th>
								<td>
									<div class="jeitem">
										<div class="jeinpbox">
											<input type="text" class="jeinput note_time" id="test04" placeholder="YYYY-MM-DD hh:mm:ss">
										</div>
									</div>
								</td>
							</tr>
						</thead>
					</table>
					<div class="cure"></div>
					<div class="popup_bottom">
						<!--<input type="reset"   value="重置" />-->
						<input type="submit" value="添加" class="add_note"/>
						<a th:href="@{/note/findNote}">
							<button class="selsety">取消</button>
						</a>
					</div>
					<!--</form>-->
				</div>
			</div>
		</section>
		<div class="cure"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/node.js}"></script>
	<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</html>
