<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>按时间查询某个药品的使用情况</title>
    <link type="text/css" rel="stylesheet" th:href="@{/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/skin/jedate.css}">
    <link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/popup.css}" />
    <script type="text/javascript" th:src="@{/src/jedate.js}"></script>
    <style>
        .gray{
            font-size: 20px!important;
            font-weight: 600!important;
        }
    </style>
</head>
<body>

<div class="jewarp">
    <div class="popup_bottom">
        <h3 class="gray">按时间查询某个药品的使用情况</h3>
    </div>
    <div class="content">
        <div class="jeitem" style="width: auto">
            <label class="jelabel" style="width: auto">年月日时分秒选择</label>
            <div class="jeinpbox" style="width: auto">
                <input type="text" style="width: 423px;" name="time" class="jeinput" id="testblue" placeholder="YYYY-MM-DD hh:mm:ss">
            </div>
            <input type="submit" value="查询" class="btn btn-success" style="margin: 0 0 12px 18px;"/>
        </div>
    </div>
</div>

<div class="popup_bottom">
    <div class="jewarp">
        <!--<h3 class="gray">总价查询结果</h3>-->
        <!--<div class="content">-->
            <!--<span>该时间段总价为:</span>-->
            <!--<b class="total_price" th:text="${total_price}"></b>-->
        <!--</div>-->

        <h3 class="gray">记录查询结果</h3>
        <div class="content">
            <div class="section_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>药品编码</th>
                        <th>药品名字</th>
                        <th>药品编码</th>
                        <th>药品总价</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="drugList : ${drugNumberList}">
                        <td th:text="${drugList.number}"></td>
                        <td th:text="${drugList.drug_name}"></td>
                        <td th:text="${drugList.drug_code}"></td>
                        <td th:text="${drugList.priceAll}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="cure"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/test/demo.js}"></script>
<script type="text/javascript" th:src="@{/js/chargeDrug.js}"></script>
</body>
</html>