<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span><b>就诊记录</b></span>
				</div>
				<div class="add">
					<div class="search">
						<form th:action="@{/note/findNote}">
							<input type="text" name="findName" id="findName" placeholder="患者名字" required="required"/>
							<button type="submit"></button> 
						</form>
					</div>
					<div class="input_btn">
						<input type="button" value="全选" id="selectAll">
						<!--<input type="button" value="全不选" id="unSelect">-->
						<input type="button" value="反选" id="reverse">
						<input type="button" value="批量删除" class="batchDelete">
						<input type="hidden" class="browider">
						<input type="hidden" value="" class="btn" id="getValue">
					</div>
					<button class="label-info">
						<b>
							<a th:href="@{/note/toAddNote}">添加</a>
						</b>
					</button>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                    <th>编号</th>
		                    <th>患者编号</th>
							<th>患者名称</th>
							<th>疾病编号</th>
		                    <th>疾病名称</th>
		                    <th>处方编号</th>
		                    <th>收费</th>
		                    <th>就诊日期</th>
		                    <th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="note : ${noteList}">
	                		<td>
	                			<input type="checkbox" th:id="${note.note_id}" th:value="${note.note_id}"/>
								<label th:for="${note.note_id}"></label>
	                		</td>
	                		<td class="note_id" th:text="${note.note_id}">D133</td>
	                		<td th:text="${note.patient_id}"></td>
	                		<td th:text="${note.patient_name}"></td>
	                		<td th:text="${note.disease_id}"></td>
	                		<td th:text="${note.disease_name}"></td>
	                		<td th:text="${note.prescription_id}"></td>
							<td class="price_end" th:text="${note.price_end}"></td>
							<td th:text="${#dates.format(note.note_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                		<td>
	                			<button id="modify" class="modify_add price_modify">修改</button>
	                			<button id="delete" class="delete">删除</button>
								<a th:href="@{/note/detailsNote/(note_id=${note.note_id})}" class="adiv1">查看</a>
	                		</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
		</section>
		<!--弹窗-->
		
		<!--修改-->
		<div class="window2_popup">
			<div class="inform">
				<h3>修改就诊记录</h3>
				<div class="popup_table">
					<form th:action="@{/note/modifyNote}">
						<table class="table table-bordered">
							<thead>
								<input type="hidden" name="note_id" class="noteId">
				                 <tr>
				                	<th>收费</th>
				                	<td>
				                		<input type="text" name="price_end" class="notePrice" value="" required="required"/>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="cure"></div>
						<div class="popup_bottom">
							<input type="reset" value="重置">
							<input type="submit" value="修改" class="note_modify"/>
							<input type="button" name="" class="cancel_2" value="取消" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="cure"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
	<script type="text/javascript" th:src="@{/js/node.js}" ></script>
</html>
