<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>药品管理 > <b style="color: #F00;">药品入库记录</b></span>
				</div>
				<div class="add">
					<div class="search">

						<form action="/StorageRecord/searchStorageRecord/1" method="get">
							<input type="text"  name="drugName" class="drugName" required="required" placeholder="请输入药品名字" onkeyup="spin(),spainner()"/>

							<button type="submit"></button> 
						</form>
					</div>
					<div class="input_btn">
						<input type="button" value="全选" id="selectAll">
						<!--<input type="button" value="全不选" id="unSelect">-->  
						<input type="button" value="反选" id="reverse"> 
						<input type="button" value="批量删除" class="duoshan">
						<input type="hidden" class="browider">
						<input type="hidden" value="" class="btn" id="getValue">
					</div>
				</div>
				<div class="spin">
					<div class="spinners">
						<!--<a href="">dhfbdh</a>-->
						<!--<a href="">ddvkn</a>-->
					</div>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                	<th>记录编号</th>
		                	<th>药品编码</th>
		                    <th>药品名称</th>
		                    <th>入库量</th>
		                    <th>入库日期</th>
		                    <th>有效期</th>
		                    <th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="storageList:${storageList}">
	                		<td>
	                			<input type="checkbox" th:id="${storageList.record_number}" th:value="${storageList.record_number}"/>
								<label th:for="${storageList.record_number}"></label>
	                		</td>
	                		<td th:text="${storageList.record_number}" class="record_number">E133</td>
	                		<td th:text="${storageList.drug_code}"></td>
	                		<td th:text="${storageList.drug_name}"></td>
	                		<td th:text="${storageList.receipt}"></td>
	                		<td th:text="${#dates.format(storageList.inbound_date, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                		<td th:text="${#dates.format(storageList.valid_period, 'yyyy-MM-dd')}"></td>

	                		<td>
	                			<!--<button id="modify" class="modify_add">修改</button>-->
	                			<button id="delete" class="delete">删除</button>
	                		</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
			<!--分页-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==0}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/StorageRecord/StorageRecord/1}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/StorageRecord/StorageRecord/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/StorageRecord/StorageRecord/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/StorageRecord/StorageRecord/1}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/StorageRecord/StorageRecord/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/StorageRecord/StorageRecord/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/StorageRecord/StorageRecord/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/StorageRecord/StorageRecord/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
			<!--搜索分页-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/StorageRecord/searchStorageRecord/1(drugName=${drugName})}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/StorageRecord/searchStorageRecord/'+${i}(drugName=${drugName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/StorageRecord/searchStorageRecord/'+${Number+1}(drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/StorageRecord/searchStorageRecord/1(drugName=${drugName})}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/StorageRecord/searchStorageRecord/'+${Number-1}(drugName=${drugName})}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/StorageRecord/searchStorageRecord/'+${i}(drugName=${drugName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/StorageRecord/searchStorageRecord/'+${Number+1}(drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/StorageRecord/searchStorageRecord/'+${TotalPages}(drugName=${drugName})}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
		</section>
<div class="cure"></div>

	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
	<script th:src="@{/js/drugStorageRecord.js}"></script>
</html>
