<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/jeDate-test.css}">
		<link type="text/css" rel="stylesheet" th:href="@{/css/jedate.css}">
		<script type="text/javascript" th:src="@{/js/jedate.js}"></script>
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>药品管理 > <b style="color: #F00;">药品信息</b></span>
					<button class="label-info">
						<b>
							<a href="javascript:history.go(-1)">
								<i class="fa fa-mail-reply"></i>
							</a>
						</b>
					</button>
				</div>
				<div class="add">
					<div class="search">
						<form th:action="@{/drug/searchdrug/1}" method="get">
							<input type="text" name="drugName" class="drugName" required="required" placeholder="请输入药品信息" onkeyup="spin(),spainner()" autoComplete="off"/>
							<button type="submit"></button>
						</form>
					</div>
					<div class="input_btn">
						<input type="button" value="全选" id="selectAll">
						<!--<input type="button" value="全不选" id="unSelect">-->  
						<input type="button" value="反选" id="reverse"> 
						<input type="button" value="批量删除" class="Batchdelet">
						<input type="hidden" class="browider">
						<input type="hidden" value="" class="btn" id="getValue">
					</div>
					<button class="label-info">
						<b><a th:href="@{/drug/toAdd}">添加</a></b>
					</button>
				</div>
				<div class="spin">
					<div class="spinners">
					</div>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                	<th>药品编码</th>
		                	<th>药品名称</th>
		                    <th>拼音码</th>
		                    <th>安全存库</th>
		                    <th>单位价格</th>
		                    <th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="drug : ${drugs}">
	                		<td>
	                			<input type="checkbox" th:id="${drug.drug_code}" th:value="${drug.drug_code}" class="selectall"/>
								<label th:for="${drug.drug_code}"></label>
	                		</td>
	                		<td th:text="${drug.drug_code}" class="drug_codes">A133</td>
	                		<td th:text="${drug.drug_name}"></td>
	                		<td th:text="${drug.pinyin_code}"></td>
	                		<td th:text="${drug.safety_stock}"></td>
	                		<td th:text="${drug.unit_price}"></td>
	                		<td>
								<a th:href="@{'/drug/viewUpdate/'+${drug.drug_code}}"><button id="modify">修改</button></a>
								<a th:href="@{'/drug/toView/'+${drug.drug_code}}" class="adiv1">详情</a>
								<a  class="adiv1 add_item">入库</a>
	                			<button id="delete" class="deletes">删除</button>
								<input type="hidden" class="drug_code" th:value="${drug.drug_code}">
							</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
			<!--分页-->
			<div class="fenye" th:if="${TotalPages >0 and isSearch==0}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/drug/drug/1}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/drug/drug/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/drug/drug/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/drug/drug/1}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/drug/drug/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/drug/drug/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/drug/drug/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/drug/drug/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
			<!--搜索分页-->
			<!--<h1 th:text="${isSearch}">tuhu</h1>-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/drug/searchdrug/1(drugName=${drugName})}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/drug/searchdrug/'+${i}(drugName=${drugName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/drug/searchdrug/'+${Number+1}(drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/drug/searchdrug/1(drugName=${drugName})}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/drug/searchdrug/'+${Number-1}(drugName=${drugName})}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/drug/searchdrug/'+${i}(drugName=${drugName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/drug/searchdrug/'+${Number+1}(drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/drug/searchdrug/'+${TotalPages}(drugName=${drugName})}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
		</section>
<div class="cure"></div>
		<!--添加-->
		<div class="window1_popup">
			<div class="add_infor">
				<h3>添加药品类别</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>库存量</th>
							<td>
								<input type="" name="storage_amount" class="storage_amount" value="" required="required"/>
							</td>
						</tr>
						<tr>
							<th>有效期</th>
							<td>
								<!--<input type="" name="valid_period" class="valid_period" value="" required="required"/>-->
								<div class="jeitem">
									<div class="jeinpbox"><input type="text" class="jeinput" id="test15" placeholder="YYYY-MM-DD"></div>
								</div>
							</td>
						</tr>
						</thead>
					</table>
					<div class="cure"></div>
					<div class="popup_bottom">
						<!--<input type="reset"   value="重置" />-->
						<input type="submit" value="添加" class="add1 adds"/>
						<input type="button" name="" class="cancel_1" value="取消"/>
					</div>
					<!--</form>-->
				</div>
			</div>
		</div>
	</body>
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
		<script th:src="@{/js/search.js}"></script>
		<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</html>
