<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>药品管理 > <b style="color: #F00;">药品单位</b></span>
				</div>
				<div class="add">
					<div class="search">
						<form action="/attribute/searchAttribute/2/1" method="get">
							<input type="text" name="attributeName" class="attributeName" autoComplete="off" required="required" placeholder="请输入类别信息" onkeyup="spin(),spainner()"/>
							<button type="submit"></button> 
						</form>
					</div>
					<!--<div class="input_btn">-->
						<!--<input type="button" value="全选" id="selectAll">-->
						<!--&lt;!&ndash;<input type="button" value="全不选" id="unSelect">&ndash;&gt;  -->
						<!--<input type="button" value="反选" id="reverse">-->
						<!--<input type="button" value="批量删除" class="batchDelete">-->
						<!--<input type="hidden" class="browider">-->
						<!--<input type="hidden" value="" class="btn" id="getValue">-->
					<!--</div>-->
					<button class="label-info add_item">
						<b>添加</b>
					</button>
				</div>
				<div class="spin">
					<div class="spinners">
						<!--<a href="">dhfbdh</a>-->
						<!--<a href="">ddvkn</a>-->
					</div>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                    <!--<th>单位编号</th>-->
		                    <th>单位名称</th>
		                    <th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="drugUnit : ${attributes}">
	                		<td>
	                			<input type="checkbox" th:id="${drugUnit.attribute_number}" th:value="${drugUnit.attribute_number}" class="selectall"/>
								<label th:for="${drugUnit.attribute_number}"></label>
	                		</td>
	                		<td class="leibie" th:text="${drugUnit.attribute_number}" style="display: none;">B133</td>
	                		<td class="drugUnit_name" th:text="${drugUnit.attribute_name}"></td>
	                		<td>
	                			<button id="modify" class="modify_add">修改</button>
	                			<button id="delete" class="delete">删除</button>
	                		</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
			<!--分页-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==0}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/attribute/attribute/2/1}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/attribute/attribute/2/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/attribute/attribute/2/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/attribute/attribute/2/1}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/attribute/attribute/2/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/attribute/attribute/2/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/attribute/attribute/2/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/attribute/attribute/2/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
			<!--搜索分页-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/attribute/searchAttribute/2/1(attributeName=${attributeName})}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/attribute/searchAttribute/2/'+${i}(attributeName=${attributeName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{/attribute/searchAttribute(page=${Number+1},attributeName=${attributeName})}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/attribute/searchAttribute/2/1(attributeName=${attributeName})}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/attribute/searchAttribute/2/'+${Number-1}(attributeName=${attributeName})}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/attribute/searchAttribute/2/'+${i}(attributeName=${attributeName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/attribute/searchAttribute/2/'+${Number+1}(attributeName=${attributeName})}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/attribute/searchAttribute/2/'+${TotalPages}(attributeName=${attributeName})}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
		</section>
		<!--弹窗-->
		
		<!--添加-->
		<div class="window1_popup">
			<div class="add_infor">
				<h3>添加药品单位</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
						<table class="table table-bordered">
							<thead>
				                <tr>
				                	<th>单位名称</th>
				                	<td>
				                		<input type="text" name="" class="unitName" value="" required="required"/>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<!--<input type="reset" name="" id="" value="重置" />-->
							<input type="submit" value="添加" class="add_unit"/>
							<input type="button" name="" class="cancel_1" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>
		
		<!--修改-->
		<div class="window2_popup">
			<div class="inform">
				<h3>修改药品单位</h3>
				<div class="popup_table">
					<!--<form action="">-->
						<table class="table table-bordered">
							<thead>
							<input type="hidden" class="unit_number">
				                <tr>
				                	<th>单位名称</th>
				                	<td>
				                		<input type="text" name="" class="unit_name" value="" required="required"/>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<input type="submit" value="修改" class="unit_modify"/>
							<input type="button" name="" class="cancel_2" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>
<div class="cure"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
	<script type="text/javascript" th:src="@{/js/drugUnit.js}" ></script>
</html>
