<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<div class="fixed">
			<div class="nav">
				<span>药品管理 > <b style="color: #F00;">药品库存</b></span>
			</div>
			<div class="add">
				<div class="search">
					<form th:action="@{/DrugInventory/searchStorage/1}" method="get">
						<input type="text" name="drugName" class="drugName" value="" required="required" placeholder="请输入药品名称或拼音码" onkeyup="spin(),spainner()"/>
						<button type="submit"></button>
					</form>
				</div>

						<a th:href="@{/DrugInventory/DrugInventoryDate/1}" class="fen">切换至分库存</a>

			</div>
			<div class="spin">
				<div class="spinners">
					<!--<a href="">dhfbdh</a>-->
					<!--<a href="">ddvkn</a>-->
				</div>
			</div>
		</div>
		<div class="same_fixed"></div>
		<div class="section_table">
			<table class="table table-bordered table-hover">
				<thead>
	                <tr>
	                	<!--<th>选择</th>-->
	                    <th>库存编号</th>
	                    <th>药品名字</th>
	                    <th>总库存量</th>
	                    <!--<th>有效期</th>-->
	                    <!--<th>操作</th>-->
	                </tr>
                </thead>
                <tbody>
                	<tr th:each="drugInventory :${drugInventories}">
                		<!--<td>-->
                			<!--<input type="checkbox" th:id="${drugInventory.stock_number}" th:value="${drugInventory.stock_number}"/>-->
							<!--<label th:for="${drugInventory.stock_number}"></label>-->
                		<!--</td>-->
                		<td  th:text="${drugInventory.stock_number}">D133</td>

						<td th:text="${drugInventory.drug_name}"></td>
                		<td th:if="${drugInventory.is_safety_stock==1}" th:text="${drugInventory.storage_amount}"></td>
						<td th:if="${drugInventory.is_safety_stock==0}" th:text="${drugInventory.storage_amount}" style="color: red;">
                		<!--<td th:text="${drugInventory.valid_period}"></td>-->
                		<!--<td>-->
                			<!--<button id="modify" class="modify_add">修改</button>-->
                			<!--<button id="delete">删除</button>-->
                		<!--</td>-->
                	</tr>
				</tbody>
			</table>
		</div>
		<!--分页-->
		<div class="fenye" th:if="${TotalPages >0 and isSearch==0}">
			<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
				<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
				<li><a th:href="@{/DrugInventory/DrugInventory/1}">首页</a></li>
				<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
					<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
					<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
					   th:href="@{'/DrugInventory/DrugInventory/'+${i}}" th:text="${i}"
					   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
				</li>
				<li><a th:href="@{'/DrugInventory/DrugInventory/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
			</ul>

			<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
				<li><a th:href="@{/DrugInventory/DrugInventory/1}">首页</a></li><!--//跳转至第一页-->
				<li><a th:href="@{'/DrugInventory/DrugInventory/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
				<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
					<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
					<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
					   th:href="@{'/DrugInventory/DrugInventory/'+${i}}" th:text="${i}"
					   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
				</li>
				<li th:if="${Number != TotalPages}"><a
						th:href="@{'/DrugInventory/DrugInventory/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
				<li><a th:href="@{'/DrugInventory/DrugInventory/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
			</ul>

		</div>
		<!--搜索分页-->
		<div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
			<ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
				<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
				<li><a th:href="@{/DrugInventory/searchStorage/1(drugName=${drugName})}">首页</a></li>
				<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
					<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
					<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
					   th:href="@{'/DrugInventory/searchStorage/'+${i}(drugName=${drugName})}" th:text="${i}"
					   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
				</li>
				<li><a th:href="@{/attribute/searchAttribute(page=${Number+1},drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
			</ul>

			<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
				<li><a th:href="@{/DrugInventory/searchStorage(page=1,drugName=${drugName})}">首页</a></li><!--//跳转至第一页-->
				<li><a th:href="@{'/DrugInventory/searchStorage/'+${Number-1}(drugName=${drugName})}">上一页</a></li><!--//请求页数-1-->
				<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
					<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
					<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
					<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
					   th:href="@{'/DrugInventory/searchStorage/'+${i}(drugName=${drugName})}" th:text="${i}"
					   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
				</li>
				<li th:if="${Number != TotalPages}"><a
						th:href="@{'/DrugInventory/searchStorage/'+${Number+1}(drugName=${drugName})}">下一页</a></li><!--//请求页数+1-->
				<li><a th:href="@{'/DrugInventory/searchStorage/'+${TotalPages}(drugName=${drugName})}">尾页</a></li><!--//跳转至第Number页-->
			</ul>

		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
	<script th:src="@{/js/drugStorage.js}"></script>
</html>
