<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span><b>患者管理</b></span>
				</div>
				<div class="add">
					<div class="search">
						<form th:action="@{/patient/searchpatient/1}" method="get">
							<input type="text" name="findName" value="" required="required" placeholder="名字/拼音码/手机号"/>
							<button type="submit"></button> 
						</form>
					</div>
					<div class="input_btn">
						<input type="button" value="全选" id="selectAll">
						<!--<input type="button" value="全不选" id="unSelect">-->  
						<input type="button" value="反选" id="reverse"> 
						<input type="button" value="批量删除" class="batchDelete">
						<input type="hidden" class="browider">
						<input type="hidden" value="" class="btn" id="getValue">
					</div>
					<button class="label-info add_item"><b>添加</b></button>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                    <th>患者编号</th>
		                    <th>患者姓名</th>
		                    <th>患者性别</th>
		                    <th>拼音码</th>
		                    <th>年龄</th>
		                    <th>电话</th>
		                    <th>家庭住址</th>
		                    <th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="patient : ${patients}">
	                		<td>
	                			<input type="checkbox" th:id="${patient.patient_number}" th:value="${patient.patient_number}" class="selectall"/>
								<label th:for="${patient.patient_number}"></label>
	                		</td>
	                		<td class="patientId" th:text="${patient.patient_number}">D133</td>
	                		<td class="patientName" th:text="${patient.patient_name}">叶小天</td>
	                		<td class="patientSex" th:text="${patient.patient_gender}">男</td>
	                		<td class="patientCode" th:text="${patient.pinyin_code}">YXT</td>
	                		<td class="patientAge" th:text="${patient.patient_age}">21</td>
	                		<td class="patientPhone" th:text="${patient.patient_phone}">15936571865</td>
	                		<td class="patientAdress" th:text="${patient.home_address}">湖北省黄冈市黄州区</td>
	                		<td>
	                			<button id="modify" class="modify_add">修改</button>
	                			<button id="delete" class="delete">删除</button>
	                		</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
		</section>
		<!--弹窗-->
		
		<!--添加-->
		<div class="window1_popup">
			<div class="add_infor" style="width: 420px;">
				<h3>添加患者</h3>
				<div class="popup_table">
					<!--<form th:action="@{/patient/patient}" method="post">-->
						<table class="table table-bordered">
							<thead>
				                <tr>
				                	<th>患者姓名</th>
				                	<td>
				                		<input type="text" name="patient_name" value="" class="namePatient" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>患者性别</th>
				                	<td>
										<input type="hidden" name="patient_gender" class="patientGender">
				                		<select name="patient_gender" class="gender">
											<!--<option value="">请选择</option>-->
			                                <option value="男">男</option>
			                                <option value="女">女</option>
			                            </select>
				                	</td>
				                </tr>
				                <tr>
				                	<th>拼音码</th>
				                	<td>
				                		<input type="" name="pinyin_code" value="" class="codePatient" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>年龄</th>
				                	<td>
				                		<input type="" name="patient_age" value="" class="agePatient" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>电话</th>
				                	<td>
				                		<input type="" name="patient_phone" value="" class="phonePatient" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>家庭住址</th>
				                	<td>
										<input type="hidden" name="home_address" class="home_address">
										<div data-toggle="distpicker">
											<select class="province" data-province="选择省"></select>
											<select class="city" data-city="选择市"></select>
											<select class="district" data-district="选择区"></select>
										</div>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<input type="submit" value="添加" class="addPatient"/>
							<input type="button" name="" class="cancel_1" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>
		
		<!--修改-->
		<div class="window2_popup">
			<div class="inform" style="width: 420px;">
				<h3>修改患者</h3>
				<div class="popup_table">
					<!--<form th:action="@{/patient/patient}" method="">-->
						<table class="table table-bordered">
							<thead>
							<input type="hidden" class="patient_number">
				                <tr>
				                	<th>患者姓名</th>
				                	<td>
				                		<input type="" name="patient_name" class="patient_name" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>患者性别</th>
				                	<td>
										<input type="hidden" name="patient_gender" class="patient_sex">
				                		<select name="" class="patient_Sex">
			                                <option value="男" class="option_sex">男</option>
			                                <option value="女" class="option_sex">女</option>
			                            </select>
				                	</td>
				                </tr>
				                <tr>
				                	<th>拼音码</th>
				                	<td>
				                		<input type="" name="pinyin_code" class="pinyin_code" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>年龄</th>
				                	<td>
				                		<input type="" name="patient_age" class="patient_age" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>电话</th>
				                	<td>
				                		<input type="" name="patient_phone" class="patient_phone" required="required"/>
				                	</td>
				                </tr>
				                <tr>
				                	<th>家庭住址</th>
									<td>
										<input type="hidden" name="home_address" class="home_add">
										<div data-toggle="distpicker">
											<select class="provinces" data-province="选择省"></select>
											<select class="citys" data-city="选择市"></select>
											<select class="districts" data-district="选择区"></select>
										</div>
									</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<input type="submit" value="修改" class="modify_patient"/>
							<input type="button" name="" class="cancel_2" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/drug.js}"></script>
	<script type="text/javascript" th:src="@{/js/patient.js}" ></script>
	<script type="text/javascript" th:src="@{/js/distpicker.js}" ></script>
</html>
