<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span><b>处方管理</b></span>
				</div>
				<div class="add">
					<div class="search">
						<form th:action="@{/prescription/findPrescription/1}" method="post">
							<input type="text" name="findName" value="" required="required" autoComplete="off" th:text="${findName}" />
							<button type="submit"></button> 
						</form>
					</div>
					<div class="input_btn">
						<!--<input type="button" value="全选" id="selectAll">-->
						<!--<input type="button" value="反选" id="reverse">-->
						<!--<input type="button" value="批量删除" class="batchDelete">-->
						<!--<input type="hidden" class="browider">-->
						<!--<input type="hidden" value="" class="btn" id="getValue">-->
					</div>
					<button class="label-info">
						<b>
							<a th:href="@{/prescription/toAddPrescription}">添加</a>
						</b>
					</button>
				</div>
			</div>
			<div class="same_fixed"></div>
			<div class="section_table">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                    <th>处方编号</th>
		                    <th>处方名称</th>
		                    <th>拼音码</th>
		                    <th>药品</th>
		                    <th>检查</th>
		                    <th>治疗</th>
		                    <th>总价</th>
							<th>操作</th>
		                </tr>
	                </thead>
	                <tbody>
	                	<tr th:each="prescription : ${prescriptionList}">
	                		<td>
	                			<input type="checkbox" th:id="${prescription.prescription_id}" th:value="${prescription.prescription_id}" class="selectall"/>
								<label th:for="${prescription.prescription_id}"></label>
	                		</td>
	                		<td class="prescriptionId" th:text="${prescription.prescription_id}">A133</td>
	                		<td th:text="${prescription.prescription_name}">R</td>
	                		<td th:text="${prescription.pinyin_code}"></td>
	                		<td th:text="${prescription.is_drug}">有</td>
	                		<td th:text="${prescription.is_check}">有</td>
	                		<td th:text="${prescription.is_treatment}">有</td>
							<td th:text="${prescription.price_all}"></td>
	                		<td>
	                			<button>
	                				<a id="see" th:href="@{/prescription/findPrescriptionById/(prescriptionId=${prescription.prescription_id})}">查看</a>
	                			</button>
								<button id="delete" class="delete deletePre">删除</button>
	                		</td>
	                	</tr>
	                </tbody>
				</table>
			</div>

			<div class="fenye" th:if="${TotalPages >0 and isSearch==0}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages > 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/prescription/1}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/prescription/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/prescription/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{/prescription/1}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/prescription/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/prescription/'+${i}}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/prescription/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/prescription/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
			<!--搜索分页-->
			<!--<h1 th:text="${isSearch}">tuhu</h1>-->
			<div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
				<ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
					<!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
					<li><a th:href="@{/prescription/findPrescription/1}">首页</a></li>
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/prescription/findPrescription/'+${i}(findName=${findName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li><a th:href="@{'/prescription/findPrescription/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
				</ul>

				<ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
					<li><a th:href="@{'/prescription/findPrescription/'+1(findName=${findName})}">首页</a></li><!--//跳转至第一页-->
					<li><a th:href="@{'/prescription/findPrescription/'+${Number-1}(findName=${findName})}">上一页</a></li><!--//请求页数-1-->
					<li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{'/prescription/findPrescription/'+${i}(findName=${findName})}" th:text="${i}"
						   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}"><a
							th:href="@{'/prescription/findPrescription/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
					<li><a th:href="@{'/prescription/findPrescription/'+${TotalPages}(findName=${findName})}">尾页</a></li><!--//跳转至第Number页-->
				</ul>

			</div>
			<div class="cure"></div>
		</section>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/drug.js}" ></script>
	<script type="text/javascript" th:src="@{/js/prescript.js}" ></script>
	<script type="text/javascript" th:src="@{/js/selsect.js}" ></script>
</html>
