<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>邢氏诊所患者就诊记录及电子处方系统</title>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/css/popup.css}" />
	</head>
	<body>
		<section>
			<div class="fixed">
				<div class="nav">
					<span>处方管理 > <b style="color: #F00;">查看处方</b></span>
					<button class="label-info modify_add">
						<b>
							<a href="javascript:history.go(-1)">
								<i class="fa fa-mail-reply"></i>
							</a>
						</b>
					</button>
				</div>
			</div>
			<div style="width: 100%; height: 45px;"></div>
			<div class="all_inform">
				<!--处方信息-->
				<div>
					<p>处方信息</p>
					<div class="section_table">
						<table class="table table-bordered table-hover">
							<thead>
				                <tr>
				                	<th>选择</th>
				                	<th>处方编号</th>
				                    <th>处方名称</th>
				                    <th>拼音码</th>
									<th>价格</th>
				                    <th>操作</th>
				                </tr>
			                </thead>
			                <tbody>
			                	<tr>
			                		<td>
			                			<input type="checkbox" id="awesome2" value="1"/>
										<label for="awesome2"></label>
			                		</td>
			                		<td class="prescriptionId" th:text="${prescription.prescription_id}">A133</td>
			                		<td class="prescription_name" th:text="${prescription.prescription_name}">A133</td>
			                		<td class="pinyin_code" th:text="${prescription.pinyin_code}">QMS</td>
									<td class="price_all" th:text="${prescription.price_all}"></td>
			                		<td>
			                			<button class="modify modify_1 modifyPrescription">修改</button>
			                		</td>
			                	</tr>
			                </tbody>
						</table>
					</div>
				</div>
				<!--处方药品-->
				<div th:if="${prescription.is_drug}==1">
					<div class="prescript_p">
						<p>处方药品
							<a th:href="@{/prescription/toAddDrug(isModify='is',prescriptionId=${prescription.prescription_id})}">
								<button class="modify_8">添加</button>
							</a>
						</p>
					</div>
					<div class="section_table">
						<table class="table table-bordered table-hover">
							<thead>
				                <tr>
				                	<th>编号</th>
				                    <th>处方编号</th>
				                    <th>药品编号</th>
									<th>药品名称</th>
									<th>价格</th>
				                    <th>数量</th>
				                    <th>操作</th>
				                </tr>
			                </thead>
			                <tbody>
			                	<tr th:each="prescript : ${prescriptionDrugList}">
			                		<td class="detail_idDrug" th:text="${prescript.detail_id}"></td>
			                		<td th:text="${prescript.prescription_id}"></td>
			                		<td th:text="${prescript.drug_code}"></td>
									<td th:text="${prescript.drug_name}"></td>
									<td th:text="${prescript.price_one}"></td>
			                		<td class="numberPreDrug" th:text="${prescript.number}"></td>
			                		<td>
										<button class="modify modify_2">修改</button>
										<button class="delete deletePre_drug">删除</button>
			                		</td>
			                	</tr>
			                </tbody>
						</table>
					</div>
				</div>
				<div th:if="${prescription.is_drug}==0">
					<div class="add_2">
						<p>处方药品</p>
						<b>PS：该处方暂无药品</b>
						<a th:href="@{/prescription/toAddDrug(isModify='is',prescriptionId=${prescription.prescription_id})}">
							<button class="modify_5">添加</button>
						</a>
					</div>
				</div>
				
				<!--处方检查-->
				<div th:if="${prescription.is_check}==1">
					<div class="prescript_p">
						<p>处方检查
							<a th:href="@{/prescription/toAddCheck(isModify='is',prescriptionId=${prescription.prescription_id})}">
								<button class="modify_9">添加</button>
							</a>
						</p>
					</div>
					<div class="section_table">
						<table class="table table-bordered table-hover">
							<thead>
				                <tr>
				                	<th>编号</th>
				                    <th>处方编号</th>
				                    <th>检查编号</th>
									<th>检查名称</th>
									<th>价格</th>
				                    <th>数量</th>
				                    <th>操作</th>
				                </tr>
			                </thead>
			                <tbody>
			                	<tr  th:each="exam : ${prescriptionCheckList}">
			                		<td class="detail_idCheck" th:text="${exam.detail_id}">A133</td>
			                		<td th:text="${exam.prescription_id}"></td>
			                		<td th:text="${exam.check_id}">QMS</td>
			                		<td th:text="${exam.check_name}"></td>
									<td th:text="${exam.price_one}"></td>
									<td class="numberPreCheck" th:text="${exam.number}"></td>
			                		<td>
										<button class="modify modify_3">修改</button>
										<button class="delete deletePre_check">删除</button>
			                		</td>
			                	</tr>
			                </tbody>
						</table>
					</div>
				</div>
				<div th:if="${prescription.is_check}==0">
					<div class="add_2">
						<p>处方检查</p>
						<b>PS：该处方暂无检查</b>
						<a th:href="@{/prescription/toAddCheck(isModify='is',prescriptionId=${prescription.prescription_id})}">
							<button class="modify_6">添加</button>
						</a>
					</div>
				</div>
				
				<!--处方治疗-->
				<div th:if="${prescription.is_treatment}==1">
					<div style="margin-bottom: 50px;">
						<div class="prescript_p">
							<p>处方治疗
								<a th:href="@{/prescription/toAddTreatment(isModify='is',prescriptionId=${prescription.prescription_id})}">
									<button class="modify_10">添加</button>
								</a>
							</p>
						</div>
						<div class="section_table">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>编号</th>
									<th>处方编号</th>
									<th>治疗编号</th>
									<th>治疗名称</th>
									<th>价格</th>
									<th>数量</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
									<tr th:each="therapy : ${prescriptionTreatmentList}">
										<td class="detail_idTreatment" th:text="${therapy.detail_id}"></td>
										<td th:text="${therapy.prescription_id}"></td>
										<td th:text="${therapy.treatment_id}"></td>
										<td th:text="${therapy.treatment_name}"></td>
										<td th:text="${therapy.price_one}"></td>
										<td class="numberPreTreatment" th:text="${therapy.number}"></td>
										<td>
											<button class="modify modify_4">修改</button>
											<button class="delete deletePre_therapy">删除</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div th:if="${prescription.is_treatment}==0">
					<div class="add_2" style="margin-bottom: 50px;">
						<p>处方治疗</p>
						<b>PS：该处方暂无治疗</b>
						<a th:href="@{/prescription/toAddTreatment(isModify='is',prescriptionId=${prescription.prescription_id})}">
							<button class="modify_7">添加</button>
						</a>
					</div>
				</div>
			</div>
			<div class="cure"></div>
		</section>
		
		<!--弹窗-->
		<!--处方信息-->
		<div class="window1_popup">
			<div class="add_infor">
				<h3>处方信息</h3>
				<div class="popup_table">
					<table class="table table-bordered">
						<thead>
							<input type="hidden" name="prescription_id" class="pre_id">
							<tr>
								<th>处方名称</th>
								<td>
									<input type="text" name="prescription_name" class="pre_name" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>拼音码</th>
								<td>
									<input type="text" name="pinyin_code" value="" class="pre_code" required="required"/>
								</td>
							</tr>
							<input type="hidden" class="pre_price">
						</thead>
					</table>
					<div class="popup_bottom">
						<input type="submit" value="修改" class="pre_modify"/>
						<input type="button" name="" class="cancel_1" value="取消" />
					</div>
				</div>
			</div>
		</div>
		
		<!--弹窗-->
		<!--修改处方药品-->
		<div class="window2_popup">
			<div class="add_infor">
				<h3>修改处方药品</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
						<table class="table table-bordered">
							<thead>
								<input type="hidden" class="detailDrug">
				                <tr>
				                	<th>数量</th>
				                	<td>
				                		<input type="text" class="number_preDrug" required="required"/>
				                	</td>
				                </tr>
							</thead>

						</table>
						<div class="popup_bottom">
							<input type="submit" value="修改" class="modify_preDrug"/>
							<input type="button" name="" class="cancel_2" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>

		<!--修改处方检查-->
		<div class="window3_popup">
			<div class="add_infor">
				<h3>修改处方检查</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
						<table class="table table-bordered">
							<thead>
								<input type="hidden" class="detailCheck">
				                <tr>
				                	<th>数量</th>
				                	<td>
				                		<input type="text" class="number_preCheck" required="required"/>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<input type="submit" value="修改" class="modify_preCheck"/>
							<input type="button" name="" class="cancel_3" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>

		<!--修改处方治疗-->
		<div class="window4_popup">
			<div class="add_infor">
				<h3>修改处方治疗</h3>
				<div class="popup_table">
					<!--<form action="" method="post">-->
						<table class="table table-bordered">
							<thead>
							<input type="hidden" class="detailTreatment">
				                <tr>
				                	<th>数量</th>
				                	<td>
				                		<input type="text" class="number_preTreatment" required="required"/>
				                	</td>
				                </tr>
							</thead>
						</table>
						<div class="popup_bottom">
							<input type="submit" value="修改" class="modify_preTreatment"/>
							<input type="button" name="" class="cancel_4" value="取消" />
						</div>
					<!--</form>-->
				</div>
			</div>
		</div>
		<div class="cure"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/prescription.js}" ></script><!--弹框-->
	<script type="text/javascript" th:src="@{/js/prescript.js}" ></script><!--处方信息 删除-->
	<script type="text/javascript" th:src="@{/js/preDrug.js}" ></script>
</html>
