<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>邢氏诊所患者就诊记录及电子处方系统</title>
        <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/css/popup.css}"/>
        <link rel="stylesheet" th:href="@{/css/prescription.css}"/>
    </head>
<body>
<section>
    <div class="fixed">
        <div class="nav">
            <span>处方管理 > <b style="color: #F00;">添加处方</b></span>
            <button class="label-info">
                <b>
                    <a href="javascript:history.go(-1)">
                        <i class="fa fa-mail-reply"></i>
                    </a>
                </b>
            </button>
        </div>
    </div>
    <div style="width: 100%; height: 45px;"></div>

    <div class="all_inform">
        <!--处方治疗-->
        <div class="list_item">
            <p>
                <span>处方治疗</span>
                <button class="item_lists">
                    <b th:if="${isModify} ne 'is'">
                        <b class="add_item">确认</b>
                    </b>

                    <b th:if="${isModify} eq 'is'">
                        <b class="is_modifyDrug">确定</b>
                    </b>
                </button>
            </p>
            <div class="section_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>处方编号</th>
                        <th>治疗编号</th>
                        <th>治疗名称</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="therapy : ${prescriptionCheckList}">
                        <td th:text="${therapy.detail_id}"></td>
                        <td th:text="${therapy.prescription_id}"></td>
                        <td th:text="${therapy.treatment_id}"></td>
                        <td th:text="${therapy.treatment_name}"></td>
                        <td th:text="${therapy.price_one}"></td>
                        <td th:text="${therapy.number}"></td>
                        <td>
                            <button id="delete">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="search search-a" style="margin: 12px">
                <form th:action="@{/prescription/toAddTreatment}" method="post">
                    <input type="text" name="findName" id="findName" autoComplete="off" placeholder="治疗名称" required="required"/>
                    <button type="submit"></button>
                </form>
            </div>
            <div class="section_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>治疗编号</th>
                        <th>治疗名称</th>
                        <th>拼音码</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="treat : ${treatmentList}">
                        <td class="treatment_id" th:text="${treat.treatment_id}">D133</td>
                        <td class="treatment_name" th:text="${treat.treatment_name}"></td>
                        <td th:text="${treat.pinyin_code}"></td>
                        <td th:text="${treat.treatment_price}"></td>
                        <td>
                            <input type="text" placeholder="数量" name="number" onkeyup="this.value=this.value.replace(/\D/g,'')">
                        </td>
                        <td>
                            <button id="modify" class="select_therapy">选择</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cure"></div>
</section>

<!--弹窗-->

<div class="window1_popup">
    <div class="add_infor">
        <div class="adiv_4">
            <h3>
                处方总价已生成
                <span class="cancel_1 cha"><i class="fa fa-times"></i></span>
            </h3>
            <div style="height: 32px;"></div>
            <button style="width: 100%; height: 38px" class="price_allPre">下一步</button>
        </div>
        <div class="adiv2" style="display: none;">
            <h3>
                是否生成就诊记录?
                <span class="cancel_1 cha"><i class="fa fa-times"></i></span>
            </h3>
            <div class="popup_bottom">
                <div style="height: 32px;"></div>
                <div style="margin: 18px 0;">
                    <a th:href="@{/toHospital}">
                        <button style="background-color: #5BC0DE;">是</button>
                    </a>
                    <a th:href="@{/prescription/1}">
                        <button style="background-color: #fc5656;">否</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="test_treatment" th:value="${isModify}">
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/preDrug.js}"></script>
<script type="text/javascript" th:src="@{/js/drug.js}"></script>
</html>
