<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>邢氏诊所患者就诊记录及电子处方系统</title>
        <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/css/popup.css}"/>
        <link rel="stylesheet" th:href="@{/css/prescription.css}"/>
    </head>
<body>
<section>
    <div class="fixed">
        <div class="nav">
            <span>处方管理 > <b style="color: #F00;">添加处方</b></span>
            <button class="label-info">
                <b>
                    <a th:href="@{/prescription/1}">
                        <i class="fa fa-mail-reply"></i>
                    </a>
                </b>
            </button>
        </div>
    </div>
    <div style="width: 100%; height: 45px;"></div>

    <div class="all_inform">
        <!--处方药品-->
        <div class="list_item">
            <p>
                <span>处方药品</span>
                <button class="item_lists">
                    <b th:if="${isModify} ne 'is'">
                        <a th:href="@{/prescription/toAddCheck}">
                            <b>下一步</b>
                        </a>
                    </b>

                    <b th:if="${isModify} eq 'is'">
                        <b class="is_modifyDrug">确定</b>
                    </b>
                </button>
            </p>
            <div class="section_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>处方编号</th>
                        <th>药品编号</th>
                        <th>药品名称</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prescription : ${prescriptionDrugList}">
                        <td th:text="${prescription.detail_id}"></td>
                        <td th:text="${prescription.prescription_id}"></td>
                        <td th:text="${prescription.drug_code}"></td>
                        <td th:text="${prescription.drug_name}"></td>
                        <td th:text="${prescription.price_one}"></td>
                        <td th:text="${prescription.number}"></td>
                        <td>
                            <button id="delete">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="search search-a">
                <form th:action="@{/prescription/toAddDrug}" method="post">
                    <input type="text" name="findName" id="drugName" value="" placeholder="药品名称" required="required"/>
                    <button type="submit"></button>
                </form>
            </div>
            <div class="section_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>药品编号</th>
                        <th>药品名称</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pre : ${drugList}">
                        <td class="drug_code" th:text="${pre.drug_code}"></td>
                        <td class="drug_name" th:text="${pre.drug_name}">
                        <td class="safety_stock" th:text="${pre.safety_stock}"></td>
                        <td>
                            <input name="number" class="drug_num" type="text" placeholder="数量" onkeyup="value=value.replace(/[^\d^\.]+/g,'')">
                        </td>
                        <td>
                            <button id="modify" class="select_drug">选择</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cure"></div>
</section>
<div class="window1_popup">
    <div class="add_infor">
        <h3>该药品库存不足您填写的数量是否继续?</h3>
        <div class="popup_bottom">
            <div style="height: 32px;"></div>
            <div style="margin: 18px 0;">
                <a class="con_y">
                    <button style="background-color: #5BC0DE;">是</button>
                </a>
                <a class="con_n">
                    <button style="background-color: #fc5656;">否</button>
                </a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="test" th:value="${isModify}">
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/preDrug.js}"></script>
</html>
